<div>
<button (click)="showFormRegister()">AGREGAR USUARIO</button>
<br/>
<br/>
<br/>

<form *ngIf="showForm" class="form-register">
  <label>ID:</label><br/>
  <input type="number" name="id" class="form-control" [(ngModel)]="newUser.id" />  
  <label>Enabled:</label>
  <input type="number" class="form-control" name="enabled" [(ngModel)]="newUser.enabled" />
  <label>Activated:</label>
  <input type="number" class="form-control" name="activated" [(ngModel)]="newUser.activated" />
  <label>Name:</label>
  <input type="text" class="form-control" name="name" [(ngModel)]="newUser.name" />
  <label>UserName:</label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="newUser.userName" />
  <label>Email:</label>
  <input type="text" class="form-control" name="email" [(ngModel)]="newUser.email" />
  <label>UserGroup:</label>
  <input type="text" class="form-control" name="userGroup" [(ngModel)]="newUser.userGroup" />
  <button (click)="registerUser()">Registrar usuario</button>
</form>

<br/>
<br/>
<br/>

  <table>
    <thead>
      <tr>
        <td>Enabled</td>
        <td>Activated</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Usergroup</td>
        <td>Last Visit</td>
        <td>Registered</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUsers;let i=index">
        <td>{{item.enabled}}</td>
        <td>{{item.activated}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.usergroup}}</td>
        <td>{{item.lastvisit}}</td>
        <td>{{item.registered}}</td>
        <td>{{item.id}}</td>
      </tr>
    </tbody>
  </table>
</div>