<div>
  <table>
    <thead>
      <tr>
        <td>Enabled</td>
        <td>Activated</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Usergroup</td>
        <td>Last Visit</td>
        <td>Registered</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>Edward</td>
        <td>eddev92</td>
        <td>edsadasd@dsadsad.com</td>
        <td>Registered</td>
        <td>28-02-2020 16:06</td>
        <td>Registered</td>
        <td>ID</td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
        <td>Edward</td>
        <td>eddev92</td>
        <td>edsadasd@dsadsad.com</td>
        <td>Registered</td>
        <td>28-02-2020 16:06</td>
        <td>Registered</td>
        <td>ID</td>
      </tr>
    </tbody>
  </table>
</div>