<div>
  <table>
    <thead>
      <tr>
        <td>Enabled</td>
        <td>Activated</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Usergroup</td>
        <td>Last Visit</td>
        <td>Registered</td>
        <td>ID</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listUsers;let i=index">
        <td>{{item.enabled}}</td>
        <td>{{item.activated}}</td>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>{{item.usergroup}}</td>
        <td>{{item.lastvisit}}</td>
        <td>{{item.registered}}</td>
        <td>{{item.id}}</td>
      </tr>
    </tbody>
  </table>
</div>