/* You can add global styles to this file, and also import other style files */
.form-register {
  max-width: 200px;
    margin: auto;
}
table, th, td {
  border: 1px solid black;
}
td {
  padding: 10px;
}